body{
    background-image: url( https://th.bing.com/th/id/OIP.Q2Gpc4va3AlPUwArW47NEQHaHb?w=179&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
}
Logo{
    width: 10px;height: 10px;
}

nav {
    display: flex;
    justify-content:  space-between;
}

.navList {
    <padding: top: 2px;>

}